@{
    ViewBag.Title = "Who You Are";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Choose who you are </h2>
<p class="button">
    @Html.ActionLink("User", "Create")
</p>

<p class="button">
    @Html.ActionLink("Dj", "Index")
</p>