<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="<AccountEndpoint=https://clubone.documents.azure.com:443/>" />
        <add key="accountKey" value="<AccountKey=FWdh989jT4GG6RXETFuOmAQFR4y6vLC9Sn5erznTTawaT1wGDgeXCq7G64V8qbPVPB0nF6GNMwOd93B0nB7Pqw==>" />
      </appSettings>
</configuration>
