@{
    ViewData["Title"] = "Song request";
}

        <label for="songRequest">Request a track</label><br/>
        <input class="songRequest" type="text" placeholder="Search for Artist or Tracks"/>
        <p>test Tracks</p>
        <p>test Tracks</p>
        <p>test Tracks</p>